@font-face {
    font-family: quicksand;
    src: url("./assets/fonts/quicksand.ttf");
}
@font-face {
    font-family: RaceSport;
    src: url("./assets/fonts/RaceSport.ttf");
}

*{
    margin: 0;
    padding: 0;
    background: none;
    user-select: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

#bg_video {
    position: absolute !important;
    z-index: -1;
    right: 0;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#span_alert {
    display: none;
    z-index: 3;
    padding: 10px;
    border: 3px solid;
    border-radius: 5px;
    font-weight: bold;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#button_ingame_disconnect {
    font-family: 'Courier New', Courier, monospace;
    z-index: 12;
    position: absolute;
    top: 5px;
    right: 10px;
}

#button_ingame_disconnect:hover {
    animation: wobble .5s forwards;
}

#button_ingame_music {
    font-family: 'Courier New', Courier, monospace;
    z-index: 12;
    position: absolute;
    top: 55px;
    right: 10px;
}

#button_ingame_music:hover {
    animation: wobble .5s forwards;
}

.line_through {
    text-decoration: line-through !important;
    text-decoration-thickness: 3px !important;
    text-decoration-color: rgba(255, 0, 0, 0.822) !important;
}

#div_topten_container {
    z-index: 10;
    position: absolute;
    top: 10%;
    background: none;
    backdrop-filter: blur(30px);
    max-height: 300px;
    width: 300px;
    filter:contrast(1.75);
    overflow-y: scroll;
}

#div_rules_container {
    z-index: 10;
    position: absolute;
    top: 10%;
    background: none;
    backdrop-filter: blur(30px);
    max-height: 300px;
    width: 300px;
    filter:contrast(1.75);
    overflow-y: scroll;
}

.text_rules {
    margin: 5px;
    font-size: 18px;
}

.topten_text {
    font-size: 24px;
    margin: 5px;
}

p {
    background: none;
}

span{
    background: none;
}

.bold {
    font-weight: bold;
}

.purple_text {
    color: purple;
}

.yellow_text {
    color: yellow;
}

.orange_text {
    color: orange;
}

.white_text {
    color: white;
}

.green_text {
    color: lime;
}

.topten_header {
    background-color: white;
    font-size: 18px;
    border-radius: 1px;
    padding: 2px;
    color: rgb(66, 66, 66);
    font-weight: bold;
}

#div_player_infos {
    font-size: 30px;
    background: none;
    margin: 5px;
}

.outline_radius_container{
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
}

.outline_box_container{
    border: 1px solid white;
    padding: 10px;
    border-radius: 1px;
}

.absolute_container {
    z-index: 1;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.flex_col {
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: none;
    text-align: center;
    padding: 1px;
}

.flex_row {
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.space_between {
    justify-content: space-between;
}

.fit_content {
    width: fit-content;
}

.align_items_center {
    align-items: center;
}

.justify_center {
    justify-content: center;
}

#button_install{
    z-index: 2;
    padding: 10px;
    border: none;
    font-weight: bold;
    background: none;
    color: rgb(255, 241, 82);
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
    transform-origin: center;
    animation: wobble 1s linear infinite;
}

canvas {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.title {
    font-size: 62px;
    color: white;
    background: none;
}

.img_server_choice {
    width: 120px;
    height: 70px;
    margin: 5px;
    background: none;
    cursor: pointer;
}

#img_color_choice {
    background: none;
    width: 50px;
    height: 50px;
}

.text {
    font-size: 22px;
    color: white;
    padding: 5px;
    background: none;
}

.text_center {
    text-align: center;
}

.button_arrow {
    background: none;
    color: white;
    font-size: 30px;
    border: 1px solid white;
    border-radius: 50%;
    line-height: 3px;
    width: 30px;
    height: 30px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    float: right;
}

input {
    background-color: white;
    border-radius: 7px;
    border: none;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 22px;
    text-align: center;
    transform-origin: center;
}

input:focus{
    outline: none;
    background-color: rgb(253, 253, 183);
}

.cstm_button {
    background: none;
    font-size: 22px;
    border-radius: 20px;
    border: 1px solid white;
    color: white;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.wobble {
    animation: wobble .5s forwards;
}

.reverse_color {
    animation: reverse_color .3s forwards;
}

.span_player_info {
    font-size: 30px;
}

@media (max-width:515px) {
    #button_install{
        font-size: 18px;
    }
    .text_rules {
        font-size: 14px;
    }
}

@media (max-width:800px) {
    .span_player_info{
        font-size: 24px;
    }
}

@media (max-width:650px) {
    .span_player_info{
        font-size: 18px;
    }
    .text_rules {
        font-size: 16px;
    }
}

@media (max-height:515px) {
    .title{
        font-size: 28px;
    }
    .text {
        font-size: 16px;
    }
    .button_arrow{
        font-size: 20px;
    }
    .cstm_button{
        font-size: 16px;
        padding: 3px;
        margin-top: 2px;
    }
    #div_player_infos{
        font-size: 22px;
    }
    .img_server_choice {
        width: 90px;
        height: 50px;
        margin: 1px;
    }
    .outline_radius_container {
        padding: 3px;
    }
    .outline_box_container {
        padding: 3px;
    }
    .button_arrow {
        font-size: 20px;
        width: 25px;
        height: 25px;
        padding: 3px;
    }
    #img_color_choice{
        width: 30px;
        height: 30px;
    }
}

@keyframes reverse_color {
    0%{
        background-color: transparent;
        color: white;
    }
    50%{
        background-color: white;
        color: black;
    }
    100%{
        background-color: transparent;
        color: white;
    }
}

@keyframes wobble {
    0%{
        transform: scale(1, 1);
    }
    50%{
        transform: scale(1.1, 1.1);
    }
    100%{
        transform: scale(1, 1);
    }
}

@keyframes blinking {
    0%{
        opacity: 1;
    }
    50%{
        opacity: .2;
    }
    100%{
        opacity: 1;
    }
}